.star-box{
    color: gold;
    opacity: 0.4;
    cursor: pointer;
}
span:hover{
    opacity: 1;
}
span:hover ~ span{
    opacity: 1;
}
.width{
    width: 90px;
}
.starbox{
    width: 90px;
    overflow: hidden !important;
    color: gold;
    opacity: 1;
}



