<!-- <div class="star-box" [style.width.px]= 'starWidth'>
  <div class="width d-flex flex-row-reverse">
    <span (click)= 'fiveStar(c , 5)'><i class="fas fa-star"></i></span>
    <span (click)= 'fourStar(c , 4)'><i class="fas fa-star"></i></span>
    <span (click)= 'threeStar(c , 3)'><i class="fas fa-star"></i></span>
    <span (click)= 'twoStar(c , 2)'><i class="fas fa-star"></i></span>
    <span (click)= 'oneStar(c , 1)'><i class="fas fa-star"></i></span>
  </div>  
</div> -->

<div class="container">
<div class="starbox">
  <div class="width d-flex flex-row-reverse">
    <span (click)= 'onStarClick(5)'><i class="fas fa-star"></i></span>
    <span (click)= 'onStarClick(4)'><i class="fas fa-star"></i></span>
    <span (click)= 'onStarClick(3)'><i class="fas fa-star"></i></span>
    <span (click)= 'onStarClick(2)'><i class="fas fa-star"></i></span>
    <span (click)= 'onStarClick(1)'><i class="fas fa-star"></i></span>
  </div>  
</div>
<div class="star-box" [style.width.px]= '_starWidth'>
  <div class="width d-flex flex-row-reverse">
    <span (click)= 'onStarClick(5)' class="rate-solid"><i class="fas fa-star"></i></span>
    <span (click)= 'onStarClick(4)' class="rate-solid"><i class="fas fa-star"></i></span>
    <span (click)= 'onStarClick(3)' class="rate-solid"><i class="fas fa-star"></i></span>
    <span (click)= 'onStarClick(2)' class="rate-solid"><i class="fas fa-star"></i></span>
    <span (click)= 'onStarClick(1)' class="rate-solid"><i class="fas fa-star"></i></span>
  </div>  
</div>
</div>