<div class="row comment">
    <div class="col-lg-4 col-md-3 col-sm-12">
      <div class="rating-bar d-flex">
        <app-star *ngFor="let r of example" [rating]='r'></app-star>
        <div class="like-box d-flex ml-auto">
          <span><i class="fas fa-heart like"></i></span>
          <span><p class="like-number ml-1">0</p></span>
          <span><i class="far fa-heart dislike ml-3"></i></span>           
          <span><p class="dislike-number ml-1">0</p></span>
        </div>          
      </div>
      <div class="text-box d-flex">
        <p>{{ commentTexty }}</p>
      </div>
      <div class="col-md-12 text-red">
          <hr>
      </div>
    </div>
  </div>