<div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-3 col-sm-12">
        <form action="form">
          <div class="form-group">
            <label for="comments-text-area">Comments :</label>
            <textarea class="form-control" name="CommentInput" id="comments-text-area" cols="25" rows="8" placeholder="Write your Comment here..." #textAreaRef></textarea>            
          </div> 
        </form> 
        <button class="btn btn-primary mb-3" (click)='submitClicked()'>Add Comment</button>       
      </div>
    </div>
    <div class="comment-show" *ngIf="commentShow">
      <app-comment () *ngFor="let t of commentBoxArray"></app-comment>    
    </div>
  </div>